<%- include("./partials/header") %>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Todo App</a>
    </nav>

    <div class="container mt-5">

        <div class="btn-danger" id="err">


        </div>
        <div class="d-flex">
            <input id="todo" type="text" name="todo" class="form-control" placeholder="Enter Todo">
            <input id="add" type="button" value="Add Todo" class="btn btn-md btn-primary mx-2">


        </div>


        <ul id="list" class="list-group my-5">
            <% todo.forEach((todos,index)=> { %>
                <li class="list-group-item" id=<%= todos._id %> >
                    <%= todos.todo %>

                        <input type="button"  id="deleteButton_<%= todos._id %>" data-todo-id="<%=todos._id%>" value="Delete Todo" class="btn btn-md btn-primary mx-2 del">

                </li>

                <% }) %>
                

        </ul>

        <script>
            console.log(list)
            let  buttons=  document.querySelectorAll('.del')
            document.getElementById("add").addEventListener("click", (event) => {

            // console.log("bef",event.target,"lll")

                fetch("/add/todo", {
                    method: "POST",
                    headers: {
                        "content-type": "application/json"
                    },
                    body: JSON.stringify({
                        todo: document.getElementById("todo").value
                    })

                }).then((response) => {

                    // response actually contains
                    console.log(response)
                    console.log("hello")
                    return response.json();
                }).then((data) => {
                    console.log("data is", data)
                    const ulElement = document.getElementById("list")
                    const newLiElement = document.createElement("li")
                    newLiElement.classList.add("list-group-item")
                    newLiElement.id = data.data._id

                    newLiElement.innerHTML = data.data.todo + '  <input type="button" data-todo-id="' + data.data._id + '" value="Delete Todo" class="btn btn-md btn-primary mx-2 del">'
                    
                    // ulElement.appendChild(newLiElement)
                    const firstChild = ulElement.firstChild; // Get the first child node of the <ul> element
                        
                        // Insert the new <li> element before the first child of the <ul> element
                            ulElement.insertBefore(newLiElement, firstChild);
                            buttons=  document.querySelectorAll('.del')
                            refreshButtonClass()
                    console.log(data, 999)
                }).catch((error) => {
                    document.getElementById("err").innerText = "Error occurred"

                })
                console.log("1256")
            })

            refreshButtonClass()
 function refreshButtonClass() {
    console.log('function called')
    buttons.forEach(button => {
            console.log('sssss')
    button.addEventListener('click', event => {
        console.log("pppp",button,"8u8")
        const todoId = event.target.dataset.todoId;
        console.log(todoId)
        fetch("/delete/todo/" + todoId, {
            method: "DELETE",
            headers: {
                "content-type": "application/json"
            }
        }).then((response) => {
            return response.json();
        }).then((data) => {
            const deletedTodoElement = document.getElementById(todoId);
            if (deletedTodoElement) {
                deletedTodoElement.remove();
                console.log("Todo deleted from UI successfully.");
            } else {
                console.error("Todo element not found in UI.");
            }
        }).catch((error) => {
            console.error("Error occurred while deleting todo:", error);
        });
    });
});
 }

        
          











// 




          

// document.getElementById("list").addEventListener("click", (event) => {
//     console.log("hhuuuuuuu")
//    console.log("eddddddrr", event.target,"dsdsds")
//    if (event.target.classList.contains('del')) {
//         const todoId = event.target.dataset.todoId;
//         console.log(todoId)
//         fetch("/delete/todo/" + todoId, {
//             method: "DELETE",
//             headers: {
//                 "content-type": "application/json"
//             }
//         }).then((response) => {
//             return response.json();
//         }).then((data) => {
//             const deletedTodoElement = document.getElementById(todoId);
//             if (deletedTodoElement) {
//                 deletedTodoElement.remove();
//                console.log("Todo deleted from UI successfully.");
//             } else {
//                 console.error("Todo element not found in UI.");
//             }
//         }).catch((error) => {
//             console.error("Error occurred while deleting todo:", error);
//         });
//     }  
    
// });











        </script>

</div>
<%- include("./partials/footer")  %>